@use "sass:color";
@use "../abstracts/variables/colors" as *;
@use "../abstracts/variables/default" as *;
@use "../abstracts/functions/var" as *;
@use "../abstracts/functions/color-contrast" as *;
@use "../abstracts/functions/colors" as *;

@each $color, $value in $theme-colors {
  .text-bg-#{$color} {
    @if $enable-important-utilities {
      color: color-contrast($value) !important;
      background-color: RGBA(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity, 1)) !important;
    } @else {
      color: color-contrast($value);
      background-color: RGBA(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity, 1));
    }
  }
}