# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html
**/.git
**/.svn
**/.hg
**/*.snap
**/dist
**/node_modules
**/package-lock.json
**/*.hbs
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.tiff
**/*.bmp
**/*.svg
**/*.webp
**/*.raw
**/*.pug
*.md