@use "sass:color";
@use "../abstracts" as *;

.btn {
  display: inline-block;
  padding: null;
  font-family: var(--mvt-font-ui);
  font-size: var(--mvt-font-size-base);
  font-weight: var(--mvt-font-weight-semibold);
  color: null;
  line-height: null;
  text-align: center;
  @if $link-decoration != none {
    text-decoration: none;
  }
  white-space: null;
  vertical-align: middle;
  @if $enable-button-pointers {
    cursor: pointer;
  }
  user-select: none;
  border: transparent;
  border-radius: null;
  box-shadow:
    inset 0 1px 0 rgba($white, 0.15),
    0 1px 1px rgba($black, 0.075);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  background-color: null;

  &:hover {
    color: var(--mvt-text-link-hover-color);
    @if $link-hover-decoration == underline {
      text-decoration: none;
    }
    background-color: null;
    border-color: transparent;
  }

  .btn-check + &:hover {
    color: null;
    background-color: null;
    border-color: var(--mvt-border-color);
  }

  &:focus-visible {
    color: null;
    border-color: transparent;
    outline: 0;

    @if $enable-shadows {
      box-shadow:
        inset 0 1px 0 rgba($white, 0.15),
        0 1px 1px rgba($black, 0.075),
        0 0 0 0.25rem rgba($primary, 0.25);
    } @else {
      box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    }
  }

  .btn-check:focus-visible + & {
    border-color: var(--mvt-border-color);
    outline: 0;

    @if $enable-shadows {
      box-shadow:
        0 1px 8px rgba(0, 0, 0, 0.45),
        0 0 0 0.25rem rgb(147.05, 153.85, 160.65, 0.25);
    } @else {
      box-shadow: 0 0 0 0.25rem rgb(147.05, 153.85, 160.65, 0.25);
    }
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--mvt-text-accent-principal);
    background-color: var(--mvt-btn-active-bg);
    @if $enable-gradients {
      background-image: none;
    }
    border-color: var(--mvt-btn-active-border-color);
    box-shadow: inset 0 3px 5px rgba($black, 0.125);

    &:focus-visible {
      @if $enable-shadows {
        box-shadow:
          inset 0 3px 5px rgba($black, 0.125),
          0 0 0 0.25rem rgb(147.05, 153.85, 160.65, 0.25);
      } @else {
        box-shadow: 0 0 0 0.25rem rgb(147.05, 153.85, 160.65, 0.25);
      }
    }
  }

  .btn-check:checked:focus-visible + & {
    @if $enable-shadows {
      box-shadow:
        inset 0 3px 5px rgba($black, 0.125),
        0 0 0 0.25rem rgb(147.05, 153.85, 160.65, 0.25);
    } @else {
      box-shadow: 0 0 0 0.25rem rgb(147.05, 153.85, 160.65, 0.25);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    color: var(--mvt-neutral-60);
    pointer-events: none;
    background-color: transparent;
    @if $enable-gradients {
      background-image: none;
    }
    border-color: var(--mvt-neutral-60);
    opacity: 0.65;
    @include box-shadow(none);
  }
}

//
// Link buttons
//
.btn-link {
  text-decoration: $link-decoration;
  @if $enable-gradients {
    background-image: none;
  }

  &:hover,
  &:focus-visible {
    text-decoration: var(--mvt-link-hover-decoration);
  }

  &:focus-visible {
    color: var(--mvt-btn-color);
  }

  &:hover {
    color: var(--mvt-btn-hover-color);
  }
}

.btn-lg {
  padding: var(--mvt-spacing-base) var(--mvt-spacing-half);
  font-size: var(--mvt-font-size-lg);
  border-radius: var(--mvt-radius-lg);
}

.btn-sm {
  padding: var(--mvt-spacing-sm) var(--mvt-spacing-half);
  font-size: var(--mvt-font-size-sm);
  border-radius: var(--mvt-radius-sm);
}
