@use "../abstracts" as *;

// Links
// Estilizar elementos de âncora.

$stretched-link-pseudo-element: after;

// Links de ícones
$icon-link-gap: 0.375rem;
$icon-link-underline-offset: 0.25em;
$icon-link-icon-size: 1em;
$icon-link-icon-transition: 0.2s ease-in-out transform;
$icon-link-icon-transform: translate3d(0.25em, 0, 0);


