@use "../abstracts" as *;
// ─────────────────────────────────────────────────────────────────────────────
// NAV
// ─────────────────────────────────────────────────────────────────────────────
.nav {
  display: flex;
  flex-wrap: wrap;
  padding: var(--mvt-spacing-half) var(--mvt-spacing-base);
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--mvt-spacing-base) var(--mvt-spacing-half);
  font-size: var(--mvt-font-size-base);
  font-weight: var(--mvt-font-weight-semibold);
  color: var(--mvt-link-color);
  @if underline != none {
    text-decoration: none;
  }
  background: none;
  border: 0;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: var(--mvt-text-accent-principal);
    @if null == underline {
      text-decoration: none;
    }
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem  rgba($primary, 0.25);
  }

  &.disabled,
  &:disabled {
    color: var(--mvt-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}

// ── Tabs ──────────────────────────────────────────────────────────────────────
.nav-tabs {
  border-bottom: var(--mvt-border-width-base) solid
    var(--mvt-border-color);

  .nav-link {
    margin-bottom: calc(-1 * var(--mvt-border-width-base));
    border: var(--mvt-border-width-base) solid transparent;

    @include border-top-radius(var(--mvt-radius-xl));

    &:hover,
    &:focus {
      isolation: isolate;
      border-color: var(--mvt-primary-bg-subtle) var(--mvt-secondary-bg-subtle) var(--mvt-border-color);
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: var(--mvt-text-accent-principal);
    background-color: null;
    border-color: var(--mvt-border-color);
  }

  .dropdown-menu {
    margin-top: calc(-1 * var(--mvt-border-width-base));

    @include border-top-radius(0);
  }
}

// ── Pills ─────────────────────────────────────────────────────────────────────
.nav-pills {
  .nav-link {
    @include border-radius(var(--mvt-border-radius-xl));
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--mvt-text-accent-principal);
    @include gradient-bg(var(--mvt-background-body));
  }
}

// ── Underline ─────────────────────────────────────────────────────────────────

.nav-underline {
  gap: var(--mvt-spacing-base);

  .nav-link {
    padding-right: 0;
    padding-left: 0;
    border-bottom: 0.125rem solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: currentcolor;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    font-weight: #{$font-weight-bold};
    color: var(--mvt-text-accent-principal);
    border-bottom-color: currentcolor;
  }
}

// ── Fill e Justified ──────────────────────────────────────────────────────────
.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 100%;
  }
}

// ── Tab content ───────────────────────────────────────────────────────────────
.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}