@use "sass:map";
@use "./nav" as *;
@use "../abstracts/configs" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
// ─────────────────────────────────────────────────────────────────────────────
// NAVBAR
// ─────────────────────────────────────────────────────────────────────────────
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--mvt-spacing-base) auto;

  @include gradient-bg();

  %container-flex-properties {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  > .container,
  > .container-fluid {
    @extend %container-flex-properties;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
      @extend %container-flex-properties;
    }
  }
}

// ── Brand ─────────────────────────────────────────────────────────────────────
.navbar-brand {
  padding-top: #{$spacing-sm};
  padding-bottom: #{$spacing-sm};
  margin-right: #{$spacing-base};
  font-size: #{$font-size-lg};
  color: var(--mvt-text-accent-principal);
  @if $link-decoration != none {
    text-decoration: none;
  }
  white-space: nowrap;

  &:hover,
  &:focus {
    color:  rgba(var(--mvt-text-accent-principal), 0.65);
    @if $link-hover-decoration == underline {
      text-decoration: none;
    }
  }
}

// ── Nav ───────────────────────────────────────────────────────────────────────
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    &.active,
    &.show {
      color: var(--#{$prefix}navbar-active-color);
    }
  }

  .dropdown-menu {
    position: static;
  }
}

// ── Texto inline ──────────────────────────────────────────────────────────────
.navbar-text {
  padding-top: #{$spacing-half};
  padding-bottom: #{$spacing-half};
  color: var(--mvt-text-inverse);

  a,
  a:hover,
  a:focus {
    color: var(--mvt-text-accent-principal);
  }
}

// ── Collapse ──────────────────────────────────────────────────────────────────
// Conteúdo colapsável. flex-wrap: wrap no .navbar pai permite a quebra de linha
// necessária para que .navbar-collapse ocupe 100% da largura quando recolhido.

.navbar-collapse {
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
}

// ── Toggler ───────────────────────────────────────────────────────────────────
.navbar-toggler {
  padding: #{$spacing-sm} #{$spacing-base};
  font-size: #{$font-size-lg};
  line-height: 1;
  color: var(--mvt-text-accent-principal);
  background-color: transparent;
  border: var(--mvt-border-width-base) solid
    var(--mvt-border-color);

  @include border-radius($border-radius-lg);
  transition: box-shadow 0.15s ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 #{$focus-ring-width};
  }
}


// ── Expand (responsivo) ───────────────────────────────────────────────────────

.navbar-expand {
  @each $breakpoint in map.keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
            padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
          }
        }

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}