<div class="header gap-base pad-v-half pad-h-base">
    <div class="container display-flex align-items-center">
        <div class="align-content-center justify-content-between mg-right-lg-auto">
            <a href="https://multiversotech.github.io" class="logo logo-mark mg-v-lg-none">
                <img src="/assets/icons/icon-fundo-transparente.png" width="52" height="52" aria-hidden="true">
                <h1 class="text-gradient wordmark">MultiversoTech</h1>
            </a>
        </div>

        <div class="acesso-rapido mvt-dropdown mg-right-half btn-toggler">
            <button class="mvt-btn mvt-dropdown-toggle" type="button" aria-label="Menu de Acesso Rápido"
                aria-expanded="false" aria-controls="acessoRapido">
                <i class="fa-solid fa-bolt" aria-hidden="true"></i>
            </button>

            <div class="mvt-dropdown-menu" id="acessoRapido">
                <ul>
                    <li>
                        <a class="mvt-dropdown-item"
                            href="https://github.com/multiversotech/multiversotech.github.io"><i
                                class="fa-brands fa-github"></i> Repositório</a>
                    </li>
                    <li>
                        <a class="mvt-dropdown-item"
                            href="https://github.com/multiversotech/multiversotech.github.io/issues"><i
                                class="fa-solid fa-bug"></i> Issues</a>
                    </li>
                    <li>
                        <a class="mvt-dropdown-item" href="#"><i class="fa-regular fa-handshake"></i> Como
                            Contribuir</a>
                    </li>
                    <li>
                        <a class="mvt-dropdown-item" href="https://www.instagram.com/multiversotechbr"><i
                                class="fa-brands fa-instagram"></i> Instagram</a>
                    </li>
                    <li>
                        <a class="mvt-dropdown-item" href="https://linkedin.com/company/multiversotech"><i
                                class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>

        <button type="button" class="tema-toggle mvt-btn" id="temaToggle"
            aria-label="Alternar entre tema claro e escuro">
            <i class="fas fa-sun" aria-hidden="true"></i>
        </button>
        <button type="button" class="menu-toggle mvt-btn" aria-label="Abrir menu mobile" aria-expanded="false"
            aria-controls="navbarNav">
            <i class="fa-solid fa-bars" aria-hidden="true"></i>
        </button>
    </div>
</div>

<nav class="nav-header display-flex pad-v-half">
    <div class="container display-flex justify-content-between">
        <ul class="mvt-nav" role="list">

            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="#home">Início</a>
            </li>
            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="/glossario/">Glossário</a>
            </li>
            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="/vocabulario/">Vocabulário</a>
            </li>
            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="#linguagens">Linguagens</a>
            </li>
            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="#ferramentas">Ferramentas</a>
            </li>
            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="#blog">Blog &amp; Artigos</a>
            </li>
            <li class="mvt-nav-item">
                <a class="mvt-nav-link" href="#sobre">Sobre</a>
            </li>
        </ul>

        <div class="input-pesquisa">
            <form class="col-12 col-lg-auto" role="search">
                <input type="search" class="form-control pad-v-sm pad-h-md" placeholder="O que você procura?"
                    aria-label="Search" />
                <i class="fa-solid fa-magnifying-glass search-icon" aria-hidden="true"></i>
                <kbd class="search-kbd">⌘K</kbd>
            </form>
        </div>
    </div>
</nav>