@use "sass:map";
@use "../abstracts/configs" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/maps" as *;

.clearfix {
  @include clearfix();
}

@each $color, $value in $theme-colors {
  .text-bg-#{$color} {
      color: color-contrast($value);
      background-color: RGBA(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity, 1));
    }
  }

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  @include visually-hidden();
}

.stretched-link {
  &::#{after} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $stretched-link-z-index;
    content: "";
  }
}

.ratio {
  position: relative;
  width: 100%;

  &::before {
    display: block;
    padding-top: var(--#{$prefix}aspect-ratio);
    content: "";
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@each $key, $ratio in $aspect-ratios {
  .ratio-#{$key} {
    --#{$prefix}aspect-ratio: #{$ratio};
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-fixed;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-fixed;
}

@each $breakpoint in map.keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .sticky#{$infix}-top {
      position: sticky;
      top: 0;
      z-index: $z-index-sticky;
    }

    .sticky#{$infix}-bottom {
      position: sticky;
      bottom: 0;
      z-index: $z-index-sticky;
    }
  }
}

.icon-link {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;
  text-decoration-color: rgba($primary, 0.5);
  text-underline-offset: 0.25em;
  backface-visibility: hidden;

  >.bi {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    fill: currentcolor;
    transition: 0.2s ease-in-out transform;
  }
}

.icon-link-hover {

  &:hover,
  &:focus-visible {
    >.bi {
      transform: translate3d(0.25em, 0, 0);
    }
  }
}

.focus-ring:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: $border-width-base;
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
}

@each $color, $value in $theme-colors {
  .link-#{$color} {
    @if $enable-important-utilities {
      color: RGBA($primary, 1);
      text-decoration-color: RGBA($primary, 1);
    } @else {
      color: RGBA($primary, 1);
      text-decoration-color: RGBA($primary, 1);
    }

    @if 20% != 0 {
      &:hover,
      &:focus {
        $hover-color: shade-color($value, 20%);
        @if color-contrast($value) != $color-contrast-light {
          $hover-color: tint-color($value, 20%);
        }

        @if $enable-important-utilities {
          color: RGBA(#{to-rgb($hover-color)}, 1) !important;
          text-decoration-color: RGBA(to-rgb($hover-color), 1) !important;
        } @else {
          color: RGBA(#{to-rgb($hover-color)}, 1);
          text-decoration-color: RGBA(to-rgb($hover-color), 1);
        }
      }
    }
  }
}
