@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "sass:string";
@use "../abstracts/configs" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/maps" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/mixins" as *;

$utilities: ();

// Utilities
$utilities: map.merge(
  (
    "align": (
      property: vertical-align,
      class: align,
      values: baseline top middle bottom text-bottom text-top,
    ),

    "float": (
      responsive: true,
      property: float,
      values: (
        start: left,
        end: right,
        none: none,
      ),
    ),

    "object-fit": (
      responsive: true,
      property: object-fit,
      values: (
        contain: contain,
        cover: cover,
        fill: fill,
        scale: scale-down,
        none: none,
      ),
    ),

    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        100: 1,
      ),
    ),

    "overflow": (
      property: overflow,
      values: auto hidden visible scroll,
    ),

    "overflow-x": (
      property: overflow-x,
      values: auto hidden visible scroll,
    ),

    "overflow-y": (
      property: overflow-y,
      values: auto hidden visible scroll,
    ),

    "display": (
      responsive: true,
      print: true,
      property: display,
      class: display,
      values: inline inline-block block grid inline-grid table table-row
        table-cell flex inline-flex none,
    ),

    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: var(--#{$prefix}box-shadow),
        sm: var(--#{$prefix}box-shadow-sm),
        lg: var(--#{$prefix}box-shadow-lg),
        none: none,
      ),
    ),

    "focus-ring": (
      css-var: true,
      css-variable-name: focus-ring-color,
      class: focus-ring,
      values: map-loop(
          $base-colors,
          meta.get-function("rgba-css-var"),
          "$key",
          "focus-ring"
        ),
    ),

    "position": (
      property: position,
      values: static relative absolute fixed sticky,
    ),

    "top": (
      property: top,
      values: $position-values,
    ),
    "bottom": (
      property: bottom,
      values: $position-values,
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values,
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values,
    ),
    "translate-middle": (
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      ),
    ),

    // Sizing utilities
    "width": (
        property: width,
        class: width,
        values: (
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          auto: auto,
        ),
      ),
    "max-width": (
      property: max-width,
      class: max-width,
      values: (
        100: 100%,
      ),
    ),
    "viewport-width": (
      property: width,
      class: viewport-width,
      values: (
        100: 100vw,
      ),
    ),
    "min-viewport-width": (
      property: min-width,
      class: min-vw,
      values: (
        100: 100vw,
      ),
    ),
    "height": (
      property: height,
      class: height,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "max-height": (
      property: max-height,
      class: max-height,
      values: (
        100: 100%,
      ),
    ),
    "viewport-height": (
      property: height,
      class: viewport-height,
      values: (
        100: 100vh,
      ),
    ),
    "min-viewport-height": (
      property: min-height,
      class: min-height,
      values: (
        100: 100vh,
      ),
    ),

    "flex": (
      responsive: true,
      property: flex,
      values: (
        fill: 1 1 auto,
      ),
    ),

    "flex-direction": (
      responsive: true,
      property: flex-direction,
      class: flex,
      values: row column row-reverse column-reverse,
    ),
    "flex-grow": (
      responsive: true,
      property: flex-grow,
      class: flex,
      values: (
        grow-0: 0,
        grow-1: 1,
      ),
    ),
    "flex-shrink": (
      responsive: true,
      property: flex-shrink,
      class: flex,
      values: (
        shrink-0: 0,
        shrink-1: 1,
      ),
    ),
    "flex-wrap": (
      responsive: true,
      property: flex-wrap,
      class: flex,
      values: wrap nowrap wrap-reverse,
    ),
    "justify-content": (
      responsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    "align-items": (
      responsive: true,
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    "align-content": (
      responsive: true,
      property: align-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch,
      ),
    ),
    "align-self": (
      responsive: true,
      property: align-self,
      values: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    "order": (
      responsive: true,
      property: order,
      values: (
        first: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        last: 6,
      ),
    ),
    // Margin utilities
    "margin": (
        responsive: true,
        property: margin,
        class: margin,
        values: map.merge(
            $spacings,
            (
              auto: auto,
            )
          ),
      ),
    "margin-horizontal": (
      responsive: true,
      property: margin-right margin-left,
      class: mg-h,
      values: map.merge(
          $spacings,
          (
            auto: auto,
          )
        ),
    ),
    "margin-vertical": (
      responsive: true,
      property: margin-top margin-bottom,
      class: mg-v,
      values: map.merge(
          $spacings,
          (
            auto: auto,
          )
        ),
    ),
    "margin-top": (
      responsive: true,
      property: margin-top,
      class: mg-top,
      values: map.merge(
          $spacings,
          (
            auto: auto,
          )
        ),
    ),
    "margin-right": (
      responsive: true,
      property: margin-right,
      class: mg-right,
      values: map.merge(
          $spacings,
          (
            auto: auto,
          )
        ),
    ),
    "margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: mg-bottom,
      values: map.merge(
          $spacings,
          (
            auto: auto,
          )
        ),
    ),
    "margin-left": (
      responsive: true,
      property: margin-left,
      class: mg-left,
      values: map.merge(
          $spacings,
          (
            auto: auto,
          )
        ),
    ),

    // Padding utilities
    "padding": (
        responsive: true,
        property: padding,
        class: pad,
        values: $spacings,
      ),

    "padding-h": (
      responsive: true,
      property: padding-right padding-left,
      class: pad-h,
      values: $spacings,
    ),

    "padding-v": (
      responsive: true,
      property: padding-top padding-bottom,
      class: pad-v,
      values: $spacings,
    ),

    "padding-top": (
      responsive: true,
      property: padding-top,
      class: pad-top,
      values: $spacings,
    ),

    "padding-end": (
      responsive: true,
      property: padding-right,
      class: pad-right,
      values: $spacings,
    ),

    "padding-bottom": (
      responsive: true,
      property: padding-bottom,
      class: pad-botton,
      values: $spacings,
    ),

    "padding-start": (
      responsive: true,
      property: padding-left,
      class: pad-left,
      values: $spacings,
    ),

    // Gap utility
    "gap": (
        responsive: true,
        property: gap,
        class: gap,
        values: $spacings,
      ),

    "row-gap": (
      responsive: true,
      property: row-gap,
      class: row-gap,
      values: $spacings,
    ),

    "column-gap": (
      responsive: true,
      property: column-gap,
      class: col-gap,
      values: $spacings,
    ),

    "white-space": (
      property: white-space,
      class: text,
      values: (
        wrap: normal,
        nowrap: nowrap,
      ),
    ),

    "word-wrap": (
      property: word-wrap word-break,
      class: text,
      values: (
        break: break-word,
      ),
    ),

    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        10: 0.1,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        100: 1,
      ),
    ),

    "border-radius": (
      property: border-radius,
      class: border-radius,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        sm: var(--#{$prefix}border-radius-sm),
        md: var(--#{$prefix}border-radius),
        lg: var(--#{$prefix}border-radius-lg),
        xl: var(--#{$prefix}border-radius-xl),
        xxl: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    "border-radius-top": (
      property: border-top-left-radius border-top-right-radius,
      class: border-radius-top,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        sm: var(--#{$prefix}border-radius-sm),
        md: var(--#{$prefix}border-radius),
        lg: var(--#{$prefix}border-radius-lg),
        xl: var(--#{$prefix}border-radius-xl),
        xxl: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    "border-radius-end": (
      property: border-top-right-radius border-bottom-right-radius,
      class: border-radius-end,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        sm: var(--#{$prefix}border-radius-sm),
        md: var(--#{$prefix}border-radius),
        lg: var(--#{$prefix}border-radius-lg),
        xl: var(--#{$prefix}border-radius-xl),
        xxl: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    "border-radius-bottom": (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: border-radius-bottom,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        sm: var(--#{$prefix}border-radius-sm),
        md: var(--#{$prefix}border-radius),
        lg: var(--#{$prefix}border-radius-lg),
        xl: var(--#{$prefix}border-radius-xl),
        xxl: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    "border-radius-start": (
      property: border-bottom-left-radius border-top-left-radius,
      class: border-radius-start,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
         sm: var(--#{$prefix}border-radius-sm),
        md: var(--#{$prefix}border-radius),
        lg: var(--#{$prefix}border-radius-lg),
        xl: var(--#{$prefix}border-radius-xl),
        xxl: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),

    "visibility": (
      property: visibility,
      class: null,
      values: (
        visible: visible,
        invisible: hidden,
      ),
    ),

    "z-index": (
      property: z-index,
      class: z,
      values: $z-index-levels,
    ),
  ),
  $utilities
);

// Utility generator
@mixin generate-utility($utility, $infix: "") {
  $values: map.get($utility, values);

  // If the values are a list or string, convert it into a map
  @if meta.type-of($values) ==
    "string" or
    meta.type-of(list.nth($values, 1)) !=
    "list"
  {
    $values: list.zip($values, $values);
  }

  @each $key, $value in $values {
    $properties: map.get($utility, property);

    // Multiple properties are possible, for example with vertical or horizontal margins or paddings
    @if meta.type-of($properties) == "string" {
      $properties: list.append((), $properties);
    }

    // Use custom class if present
    $property-class: list.nth($properties, 1);
    @if map.has-key($utility, class) {
      $property-class: map.get($utility, class);
    }
    @if $property-class == null {
      $property-class: "";
    }

    $css-variable-name: map.get($utility, class);
    @if map.has-key($utility, css-variable-name) {
      $css-variable-name: map.get($utility, css-variable-name);
    }

    $state: ();
    @if map.has-key($utility, state) {
      $state: map.get($utility, state);
    }

    @if $property-class == "" and string.slice($infix, 1, 1) == "-" {
      $infix: string.slice($infix, 2);
    }

    // Don't prefix if value key is null (e.g. with shadow class)
    $property-class-modifier: "";
    @if $key {
      @if $property-class == "" and $infix == "" {
        $property-class-modifier: $key;
      } @else {
        $property-class-modifier: "-" + $key;
      }
    }

    $is-css-var: map.get($utility, css-var);
    $is-local-vars: map.get($utility, local-vars);

    @if $is-css-var {
      .#{$property-class + $infix + $property-class-modifier} {
        --#{$prefix}#{$css-variable-name}: #{$value};
      }

      @each $pseudo in $state {
        .#{$property-class
          + $infix
          + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
          --#{$prefix}#{$css-variable-name}: #{$value};
        }
      }
    } @else {
      .#{$property-class + $infix + $property-class-modifier} {
        @each $property in $properties {
          @if $is-local-vars {
            @each $local-var, $variable in $is-local-vars {
              --#{$prefix}#{$local-var}: #{$variable};
            }
          }
          @if $enable-important-utilities {
            #{$property}: $value !important;
          } @else {
            #{$property}: $value;
          }
        }
      }

      @each $pseudo in $state {
        .#{$property-class
          + $infix
          + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
          @each $property in $properties {
            @if $is-local-vars {
              @each $local-var, $variable in $is-local-vars {
                --#{$prefix}#{$local-var}: #{$variable};
              }
            }
            @if $enable-important-utilities {
              #{$property}: $value !important;
            } @else {
              #{$property}: $value;
            }
          }
        }
      }
    }
  }
}

@each $breakpoint in map.keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $key, $utility in $utilities {
      @if meta.type-of($utility) ==
        "map" and
        (map.get($utility, responsive) or $infix == "")
      {
        @include generate-utility($utility, $infix);
      }
    }
  }
}

@media print {
  @each $key, $utility in $utilities {
    @if meta.type-of($utility) == "map" and map.get($utility, print) == true {
      @include generate-utility($utility, "-print");
    }
  }
}
