@use "../abstracts/configs" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

/* ========================================
   HEADER - Dropdown, Menu e Acessibilidade
 ======================================== */
.header {
  background-color: var(--mvt-background-header);
}

.logo {
  gap: var(--mvt-spacing-sm);
  @if $link-decoration != none {
    text-decoration: none;
  }
}

.text-gradient {
  background: var(--mvt-text-gradient-base);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--mvt-font-logo-mvt);
  text-transform: uppercase;
}

.btn-toggler button {
  font-size: var(--mvt-icon-size-lg);
  transition: color 0.3s;
  padding: var(--mvt-spacing-sm) var(--mvt-spacing-half);
  border-radius: var(--mvt-radius-pill);
  transition: background 0.25s ease;
  background-color: transparent;
  box-shadow: none;
}

.btn-toggler button:hover {
  box-shadow: none;
}

.btn-toggler .menu-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .btn-toggler .menu-toggle {
    display: none !important;
  }
}

.mvt-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  list-style: none;
  background-color: var(--mvt-background-header);
}

.mvt-nav-link {
  display: block;
  color: var(--mvt-text-inverse);
  font-size: var(--mvt-font-size-base);
  font-weight: var(--mvt-font-weight-semibold);
  @if $link-decoration != none {
    text-decoration: none;
  }
  position: relative;
  text-decoration: none;
  background: var(--mvt-background-header);
  border: 0;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: var(--mvt-text-accent-principal);
    @if $link-hover-decoration == underline {
      text-decoration: none;
    }
  }

  &:focus-visible {
    outline: 0;
    box-shadow: #{$focus-ring-box-shadow};
  }

  &.disabled,
  &:disabled {
    color: var(--mvt-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}

.mvt-nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--mvt-gradient-base);
  transition: width 250ms;
}

.mvt-nav-link:hover::after {
  width: 100%;
}

.mvt-nav-item {
  text-align: start;
  justify-content: start;
}

.form-control {
  font-size: var(--mvt-font-size-sm);
  font-weight: var(--mvt-font-weight-normal);
  line-height: var(--mvt-line-height-body);
  color: var(--mvt-text-link-disabled-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--mvt-background-input);
  background-clip: padding-box;
  border: var(--mvt-border-width-base) solid var(--mvt-border-color);
  border-radius: var(--mvt-radius-lg);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control:focus {
  color: var(--mvt-text-link-disabled-color);
  border-color: var(--mvt-color-primary);
  border-width: var(--mvt-border-width-md);
  outline: 0;
  box-shadow: var(--mvt-box-shadow-sm);
}

.form-control::placeholder {
  color: var(--mvt-text-link-disabled-color);
  opacity: 1;
}

.search button {
  font-size: var(--mvt-icon-size-lg);
  transition: color 0.3s;
  padding: var(--mvt-spacing-sm) var(--mvt-spacing-half);
  border-radius: var(--mvt-radius-pill);
  transition: background 0.25s ease;
  background-color: transparent;
  box-shadow: none;
}

.search button:hover {
  box-shadow: none;
}
