@use "../functions/calc" as *;
@use "./colors" as *;

// COMPONENTES
// Define tamanhos comuns de preenchimento e raio da borda, entre outras opções.

// Variáveis ​​de borda
$border-width-base: 1px;
$border-width-md: 2px;
$border-width-lg: 3px;
$border-width-xl: 4px;

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
);

$border-style: solid;
$border-color: $gray-3;
$border-color-translucent: rgba($black, 0.175);

// "ARREDONDAMENTO" DA BORDA
$border-radius-sm: 0.25rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 9999px;

$border-radius: (
  "sm": $border-radius-sm,
  "md": $border-radius-md,
  "lg": $border-radius-lg,
  "xl": $border-radius-xl,
  "xxl": $border-radius-xxl,
  "pill": $border-radius-pill,
);

// SOMBRAS
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

$component-active-color: $white;
$component-active-bg: $primary;

// FOCUS RING
$focus-ring-width: 0.25rem;
$focus-ring-opacity: 0.25;
$focus-ring-color: rgba($primary, $focus-ring-opacity);
$focus-ring-blur: 0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

// CARET
$caret-width: 0.3em;
$caret-vertical-align: $caret-width * 0.85;
$caret-spacing: $caret-width * 0.85;

// TRANSIÇÕES
$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;
$transition-collapse-width: width 0.35s ease;

// ASPECT RATIO
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
);
