@use "./colors" as *;
@use "./default" as *;
@use "./link" as *;
@use "./body" as *;
@use "./spacing" as *;
@use "./typography" as *;
@use "./components" as *;
@use "../functions/var" as *;
@use "../functions/colors" as *;
@use "../functions/calc" as *;

// Dropdowns

$dropdown-min-width: 10rem;
$dropdown-padding-x: 0;
$dropdown-padding-y: 0.5rem;
$dropdown-spacer: 0.125rem;
$dropdown-font-size: $font-size-base;
$dropdown-color: var(--#{$prefix}body-color);
$dropdown-bg: var(--#{$prefix}body-bg);
$dropdown-border-color: var(--#{$prefix}border-color-translucent);
$dropdown-border-radius: var(--#{$prefix}border-radius);
$dropdown-border-width: var(--#{$prefix}border-width);
$dropdown-inner-border-radius: calc(
  #{$dropdown-border-radius} - #{$dropdown-border-width}
);
$dropdown-divider-bg: $dropdown-border-color;
$dropdown-divider-margin-y: $spacing-half;
$dropdown-box-shadow: var(--#{$prefix}box-shadow);

$dropdown-link-color: var(--#{$prefix}body-color);
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: var(--#{$prefix}tertiary-bg);

$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;

$dropdown-link-disabled-color: var(--#{$prefix}tertiary-color);

$dropdown-item-padding-y: $spacing * 0.25;
$dropdown-item-padding-x: $spacing;

$dropdown-header-color: $gray-6;
$dropdown-header-padding-x: $spacing;
$dropdown-header-padding-y: $spacing-half;

$dropdown-dark-color: $gray-3;
$dropdown-dark-bg: $gray-8;
$dropdown-dark-border-color: $dropdown-border-color;
$dropdown-dark-divider-bg: $dropdown-divider-bg;
$dropdown-dark-box-shadow: null;
$dropdown-dark-link-color: $dropdown-dark-color;
$dropdown-dark-link-hover-color: $white;
$dropdown-dark-link-hover-bg: rgba($white, 0.15);
$dropdown-dark-link-active-color: $dropdown-link-active-color;
$dropdown-dark-link-active-bg: $dropdown-link-active-bg;
$dropdown-dark-link-disabled-color: $gray-5;
$dropdown-dark-header-color: $gray-5;
