@use "sass:string";
@use "../functions/colors" as *;

// --- Opacidade --- //
$opacity-none: 0;
$opacity-disabled: 0.3; // sm
$opacity-muted: 0.45; // md
$opacity-heavy: 0.65; // lg
$opacity-default: 1;

$opacities: (
  "none": $opacity-none,
  "disabled": $opacity-disabled,
  "muted": $opacity-muted,
  "heavy": $opacity-heavy,
  "default": $opacity-default,
);

// --- Deslocamento --- //
$offset-none: 0;
$offset-sm: 1px;
$offset-md: 3px;
$offset-lg: 6px;
$offset-xl: 9px;
$offset-sm-n: -1px;
$offset-md-n: -3px;
$offset-lg-n: -6px;
$offset-xl-n: -9px;

$offsets: (
  "none": $offset-none,
  "sm": $offset-sm,
  "md": $offset-md,
  "lg": $offset-lg,
  "xl": $offset-xl,
  "sm-n": $offset-sm-n,
  "md-n": $offset-md-n,
  "lg-n": $offset-lg-n,
  "xl-n": $offset-xl-n,
);

// --- Suavidade --- //
$blur-none: 0;
$blur-sm: 2px;
$blur-md: 4px;
$blur-lg: 8px;
$blur-xl: 10px;

$blurs: (
  "none": $blur-none,
  "sm": $blur-sm,
  "md": $blur-md,
  "lg": $blur-lg,
  "xl": $blur-xl,
);

// --- SHADOWS --- //

// Cor da Sombra
$shadow-color: #{get-rgb(#000000)};

// Sombras Inferiores (Padrão)
$shadow-none: none;
$shadow-sm: $offset-none $offset-sm $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md: $offset-none $offset-md $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg: $offset-none $offset-lg $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl: $offset-none $offset-xl $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras Inferiores internas
$shadow-sm-inset: inset $offset-none $offset-sm-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-inset: inset $offset-none $offset-md-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-inset: inset $offset-none $offset-lg-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-inset: inset $offset-none $offset-xl-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras Superiores
$shadow-sm-up: $offset-none $offset-sm-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-up: $offset-none $offset-md-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-up: $offset-none $offset-lg-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-up: $offset-none $offset-xl-n $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras Superiores internas
$shadow-sm-inset-up: inset $offset-none $offset-sm $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-inset-up: inset $offset-none $offset-md $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-inset-up: inset $offset-none $offset-lg var$blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-inset-up: inset $offset-none $offset-xl $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras à direita
$shadow-sm-right: $offset-sm $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-right: $offset-md $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-right: $offset-lg $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-right: $offset-xl $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras à direita internas
$shadow-sm-inset-right: inset $offset-sm-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-inset-right: inset $offset-md-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-inset-right: inset $offset-lg-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-inset-right: inset $offset-xl-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras à esquerda
$shadow-sm-left: $offset-sm-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-left: $offset-md-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-left: $offset-lg-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-left: $offset-xl-n $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

// Sombras à esquerda internas
$shadow-sm-inset-left: inset $offset-sm $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-md-inset-left: inset $offset-md $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-lg-inset-left: inset $offset-lg $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadow-xl-inset-left: inset $offset-xl $offset-none $blur-lg
  string.unquote("rgba(#{$shadow-color}, #{$opacity-muted})");

$shadows: (
  "color": $shadow-color,
  "none": $shadow-none,
  "sm": $shadow-sm,
  "md": $shadow-md,
  "lg": $shadow-lg,
  "xl": $shadow-xl,
  "sm-inset": $shadow-sm-inset,
  "md-inset": $shadow-md-inset,
  "lg-inset": $shadow-lg-inset,
  "xl-inset": $shadow-xl-inset,
  "sm-up": $shadow-sm-up,
  "md-up": $shadow-md-up,
  "lg-up": $shadow-lg-up,
  "xl-up": $shadow-xl-up,
  "sm-inset-up": $shadow-sm-inset-up,
  "md-inset-up": $shadow-md-inset-up,
  "lg-inset-up": $shadow-lg-inset-up,
  "xl-inset-up": $shadow-xl-inset-up,
  "sm-right": $shadow-sm-right,
  "md-right": $shadow-md-right,
  "lg-right": $shadow-lg-right,
  "xl-right": $shadow-xl-right,
  "sm-inset-right": $shadow-sm-inset-right,
  "md-inset-right": $shadow-md-inset-right,
  "lg-inset-right": $shadow-lg-inset-right,
  "xl-inset-right": $shadow-xl-inset-right,
  "sm-left": $shadow-sm-left,
  "md-left": $shadow-md-left,
  "lg-left": $shadow-lg-left,
  "xl-left": $shadow-xl-left,
  "sm-inset-left": $shadow-sm-inset-left,
  "md-inset-left": $shadow-md-inset-left,
  "lg-inset-left": $shadow-lg-inset-left,
  "xl-inset-left": $shadow-xl-inset-left,
);