// --- BREAKPOINTS (Escala) ---
$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px; // Celulares grandes (Landscape)
$grid-breakpoint-md: 768px; // Tablets (Portrait)
$grid-breakpoint-lg: 992px; // Tablets (Landscape) / Laptops pequenos
$grid-breakpoint-xl: 1280px; // Desktops padrão
$grid-breakpoint-xxl: 1600px; // Monitores Wide / TV

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1600px,
);

// --- CONTAINER MAX-WIDTHS --- //
$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1200px;
$container-max-width-xxl: 1560px;

$container-max-widths: (
  "sm": $container-max-width-sm,
  "md": $container-max-width-md,
  "lg": $container-max-width-lg,
  "xl": $container-max-width-xl,
  "xxl": $container-max-width-xxl,
);

// --- GRID COLUMNS --- //
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;

// --- CONTAINER PADDING --- //
$container-padding-x: $grid-gutter-width;

// --- MAPA DE BREAKPOINTS -- //
$breakpoints-name: (
  "xs": "none",
  "sm": "portrait",
  "md": "tablet",
  "lg": "laptop",  // Tablets landscape / laptops pequenos
  "xl": "desktop",  // Desktops padrão
  "xxl": "tv",
);
