@use "sass:map";

// SPACING
// Controla o estilo padrão da maioria dos elementos. Principalmente focadas no espaçamento.
// O padrão adotado foi de 1rem (16px) 
$spacing: 1rem;

$spacing-none: 0;
$spacing-sm: $spacing * 0.25;
$spacing-half: $spacing * 0.5;
$spacing-base: $spacing;
$spacing-md: $spacing * 1.25;
$spacing-lg: $spacing * 1.5;
$spacing-xl: $spacing * 1.75;
$spacing-2xl: $spacing * 2;
$spacing-3xl: $spacing * 2.5;
$spacing-4xl: $spacing * 3;
$spacing-5xl: $spacing * 3.5;
$spacing-6xl: $spacing * 4;
$spacing-7xl: $spacing * 4.5;
$spacing-8xl: $spacing * 5;
$spacing-9xl: $spacing * 5.5;
$spacing-10xl: $spacing * 6;

$spacings: (
  "none": $spacing-none,
  "sm": $spacing-sm,
  "half": $spacing-half,
  "base": $spacing-base,
  "md": $spacing-md,
  "lg": $spacing-lg,
  "xl": $spacing-xl,
  "2x": $spacing-2xl,
  "3x": $spacing-3xl,
  "4x": $spacing-4xl,
  "5x": $spacing-5xl,
  "6x": $spacing-6xl,
  "7x": $spacing-7xl,
  "8x": $spacing-8xl,
  "9x": $spacing-9xl,
  "10x": $spacing-10xl,
);

// Alinhamento Vertical
$alignment-vertical-top: top;
$alignment-vertical-center: center;
$alignment-vertical-bottom: bottom;

// Alinhamento Horizontal
$alignment-horizontal-left: left;
$alignment-horizontal-center: center;
$alignment-horizontal-right: right;

// Tokens de alinhamento
$tokens-alinhamento: (
  "v-top": $alignment-vertical-top,
  "v-center": $alignment-vertical-center,
  "v-bottom": $alignment-vertical-bottom,
  "h-left": $alignment-horizontal-left,
  "h-center": $alignment-horizontal-center,
  "h-right": $alignment-horizontal-right,
);
