/* ======================================
        DESIGN SYSTEM (DARK MODE)
    Paleta: Cyberpunk / Gaming / Tech
========================================= */
[data-theme="dark"] {
  /* Backgrounds */
  --background-body: var(--cor-primaria-7);
  --background-header: var(--violet-alt-90);
  --background-footer: var(--violet-alt-90);
  --background-light: var(--cor-pure-white);
  --background-dark: var(--cor-pure-black);
  --background-alternative: var(--cor-primaria-6);
  --background-success: var(--cor-estado-success);
  --background-warning: var(--cor-estado-warning);
  --background-danger: var(--cor-estado-danger);
  --background-sidebar: rgba(47, 11, 80, 0.6);
  --background-hero-badge: rgba(79, 23, 46, 0.6);
  --bg-shape: radial-gradient(
    circle at center,
    rgba(203, 182, 233, 0.5) 0%,
    rgba(115, 70, 192, 0.25) 45%,
    rgba(150, 108, 210, 0.25) 75%
  );
  --background-hero-page:
    radial-gradient(
      circle at 20% 50%,
      rgba(255, 255, 205, 0.1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(124, 58, 237, 0.15) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 40% 20%,
      rgba(124, 58, 237, 0.25) 0%,
      transparent 50%
    );
  --background-gradient-dark: linear-gradient(
    145deg,
    rgba(26, 26, 62, 0.8) 0%,
    rgb(12, 0, 50, 0.8) 0%
  );
  --background-gradient-light: linear-gradient(
    145deg,
    rgb(122, 122, 253, 0.8) 0%,
    rgb(111, 69, 251, 0.8) 100%
  );

  --background-card-primary: rgba(50, 25, 70, 0.5);
  --background-card-secondary: rgba(60, 35, 110, 0.35);
  --background-input: rgba(200, 210, 230, 0.65);
  --background-tooltip: rgb(30, 90, 100, 0.5);
  --background-btn-primary: rgba(109, 49, 155, 0.8);
  --background-btn-secondary: rgba(36, 0, 82, 0.8);

  /* Leitura */
  --cor-texto-1: var(--cor-secundaria-2);
  --cor-texto-2: var(--cor-secundaria-4);
  --cor-texto-3: var(--cor-secundaria-5);
  --cor-texto-4: var(--cor-secundaria-6);
  --cor-texto-5: var(--cor-secundaria-7);
  --cor-inverse-1: var(--pure-white);
  --cor-pure-black: var(--pure-black);
  --cor-pure-white: var(--pure-white);
  --cor-texto-info: #2563eb;
  --cor-texto-success: #0c2014;
  --cor-texto-warning: #92400e;
  --cor-texto-danger: #991b1b;
  --cor-texto-muted: var(--gray-cool-70);
  --text-gradient-base: linear-gradient(
    140deg,
    #6366f1 16%,
    #818cf8 32%,
    #ec4899 48%,
    #ea136c 64%,
    #f43c9b 80%,
    #a855f7 100%
  );

  /* Destaques */
  --accent-primary: var(--cor-suporte-7);
  --accent-secondary: var(--gold-vivid-30);
  --accent-tertiary: var(--cor-suporte-12);
  --accent-quaternary: var(--cor-suporte-3);
  --accent-heart: #ef4444;

  /* UI */
  --ui-primary: #7c3aed;
  --ui-secondary: #fff200;
  --ui-tertiary: var(--cor-suporte-11);

  /* Bordas */
  --border-default: #7c7c92;
  --border-color-primary: var(--gray-cool-20);
  --border-color-secondary: var(--gray-40);
  --border-color-tertiary: rgba(154, 105, 239, 0.6);
  --border-color-quaternary: rgba(214, 148, 255, 0.6);
  --border-input: rgba(200, 210, 230, 0.83);

  /* Estados Configs */
  --focus: var(--yellow-vivid-50);
  --focus-rgb: 252, 241, 79;
  --visited: var(--gray-cool-20);
  --visited-rgb: 108, 115, 127;
  --hover: 0.45;
  --pressed: 0.65;

  /* Interativa */
  --interactive-1: #3820b1;
  --interactive-1-rgb: 56, 32, 177;
  --interactive-2: #c705b7;
  --interactive-2-rgb: 199, 5, 183;
  --interactive-alternative: var(--pink-vivid-50);


  /* Sombras compostas para elementos */
  --shadow-btn-primary: 0 4px 14px rgba(124, 58, 237, 0.4);
  --shadow-card: 0 3px 4px rgba(120, 80, 160, 0.575);
  --shadow-card-dois: 0 4px 5px rgba(100, 95, 105, 0.4);
  --shadow-card-hover:
    0 6px 14px rgba(0, 0, 0, 0.4), 0 0 20px rgba(99, 102, 241, 0.4);
  --shadow-dropdown: 0 10px 40px rgba(0, 0, 0, 0.6);
  --shadow-modal: 0 20px 60px rgba(0, 0, 0, 0.7);
  --shadow-button-primary: 0 4px 14px rgba(99, 102, 241, 0.4);
  --shadow-button-secondary: 0 4px 14px rgba(236, 72, 153, 0.4);
}
